# Match all files in any test_data directory with the following extensions
# This should cover all "big" (> ~1MB) files in the test_data directory

# SPICE kernels
**/test_data/**/*.bsp filter=lfs diff=lfs merge=lfs -text
**/test_data/**/*.bc filter=lfs diff=lfs merge=lfs -text
**/test_data/**/*.bpc filter=lfs diff=lfs merge=lfs -text

# Ground Calibration data files
**/test_data/ground_calibration*.csv filter=lfs diff=lfs merge=lfs -text